/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colores ===== --text-color: #fafafa; --background-color: #202225;*/
:root {
  --background-color: #222831;
  --background2-color:#393E46;
  --accent-color:#D65A31;
  --text-color:#EEEEEE;
  --light-background-color:#40444b;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: 'Menlo', monospace; 
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margenes =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--background-color);
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--text-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--text-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--background2-color);
  box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
}

/*===== NAV =====*/

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--background-color);
    transition: .5s;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  position: relative;
  color: var(--text-color);
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 1.5rem;
  background-color: var(--text-color);
}

.nav__logo {
  color: var(--text-color);
}

.nav__toggle {
  color: var(--text-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/

.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 1.5rem;
  background-color: var(--accent-color);
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/

.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}

.home__data {
  overflow: hidden;
    margin: 0 auto;
    align-self: center;
    text-align: center;
}




h1, h2, h3, h4, h5, h6, p, ol {
  margin: 0;
  margin-bottom: 1.5rem;
}

ul{
  margin-bottom: 0.75rem;
}

/* Animation stuff */


.home_title {
  position: relative;
  float: left;
  margin: 0;
  font-size: 2rem;
  letter-spacing: 0px;
  color: var(--text-color);
  padding-right: 0;
  padding-left: 0;
}

.orange{
  color:var(--accent-color);
}

.white{
  color:var(--text-color);
}

#lightning_cursor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  background: var(--background-color);
  border-left: 4px solid var(--accent-color);

  -webkit-animation-name: typing, blinking;
  -webkit-animation-duration: 5s, 1s;
  -webkit-animation-iteration-count: 1, infinite;
  -webkit-animation-timing-function: steps(26,end), steps(1,end);


}

@-webkit-keyframes typing {
0%   { width: 100%; }
100% { width: 0; }
}

@-webkit-keyframes blinking {
0%   { border-color: transparent; }
50% { border-color: #167ff0; }
100% { border-color: transparent; }
}

@-webkit-keyframes typing {
0%   { width: 100%; }
100% { width: 0; }
}

@-webkit-keyframes blinking {
0%   { border-color: transparent; }
50% { border-color: var(--accent-color); }
100% { border-color: transparent; }
}


.home__subtitle {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  margin-top:var(--mb-1);
  color: var(--light-background-color);
  width: auto;
}

.home__subtitle-link {
  color: var(--light-background-color);
}

.home__subtitle-link:hover {
  color: var(--text-color);
}

.home__title-color {
  color: var(--text-color);
}

.home__social {
  flex-direction: column;
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-3);
  font-size: 1.5rem;
  color: var(--light-background-color);
}

.home__social-icon:hover {
  color: var(--text-color);
}

/*BUTTONS*/

.button {
  display: inline-block;
  background-color: var(--text-color);
  color: var(--light-background-color);
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
}

.button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

/*SCROLL DOWN*/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mouse_scroll {
  width: 24px;
  height: 75px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}

.unu {
  margin-top: 1px;
}

.unu, .doi, .trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  animation-delay: .2s;
  animation-direction: alternate;
  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  animation-delay: .3s;
  animation-direction: alternate;
  margin-top: -6px;
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

/* ===== ABOUT =====*/

.about__container {
  row-gap: 2rem;
  text-align: center;
}

.about__subtitle {
  margin-bottom: var(--mb-2);
}

.about__text {
  color: var(--light-background-color)
}

.about__img {
  justify-self: center;
}

.about__img img {
  width: 200px;
  border-radius: .5rem;
}

/* ===== SKILLS =====*/

.skills__container {
  row-gap: 2rem;
  text-align: center;
}

.skills__subtitle {
  margin-bottom: var(--mb-2);
  color: var(--text-color);
  text-align: center;
}

.skills__text {
  margin-bottom: var(--mb-4);
  color: var(--light-background-color);
  text-align: center;
}

.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
}

.skills__icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--text-color);
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--text-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}

.skills__html {
  width: 95%;
}

.skills__css {
  width: 85%;
}

.skills__js {
  width: 65%;
}

.skills__ux {
  width: 85%;
}

.skills__img {
  border-radius: .5rem;
}

.skills__percentage {
  color: var(--text-color)
}

/* ===== WORK =====*/

.work__container {
  row-gap: 2rem;
}

.work__img {
  box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
  border-radius: .5rem;
  overflow: hidden;
}

.work__img img {
  transition: 1s;
  cursor: pointer;
}

.work__img img:hover {
  transform: scale(1.1);
}

/* ===== CONTACT =====*/

.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--background-color);
  outline: none;
  margin-bottom: var(--mb-4);
}

.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin: auto;
}

/* ===== FOOTER =====*/
.footer {
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer__social {
  margin-bottom: var(--mb-2);
}

.footer__icon {
  font-size: 1.5rem;
  color:var(--light-background-color);
  margin: 0 var(--mb-2)
}

.footer__icon:hover {
  color: var(--text-color);
}

/* ===== MEDIA QUERIES=====*/

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .section-title {
    margin-bottom: var(--mb-6);
  }

  .section-title::after {
    width: 80px;
    top: 3rem;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }

  .nav__list {
    display: flex;
    padding-top: 0;
  }

  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

  .nav__link {
    color: var(--text-color);
  }

  .home {
    height: 100vh;
  }

  .home__social-icon {
    margin-bottom: 0;
    font-size:1.25rem;
  }

  .home__img {
    width: 457px;
    bottom: 15%;
  }

  .about__container, .skills__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }

  .about__img img {
    width: 300px;
  }

  .work__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .contact__form {
    width: 360px;
  }

  .contact__container {
    justify-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img {
    right: 10%;
  }
}

@media screen and (max-width: 535px) {
  .home_title{
    font-size: 1.5rem;
  }
}


.waving_hand {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 3.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  animation-delay: 1s;
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
  font-size: 5rem
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.showMeAfter7Seconds{
  animation: fadeIn 7s;
}

.showMeAfter8Seconds{
  animation: fadeIn 8s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  75% { opacity: 0; }
  100% { opacity: 1; }
}